# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your-anon-key

# Mapbox Configuration
NEXT_PUBLIC_MAPBOX_TOKEN=your-mapbox-token

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000


pass_supabase=^Vn*qV5T$6qcFQ